<h1>Olá, Mundo!</h1>

<form action="/resultado" method="POST">
  <label for="name" > Nome </label>
  <input type="text" id="name" name="name" placeholder="Insira o seu nome" /> 
  <input type="submit" value="Enviar" /> 
</form>